<h2>Word: </h2><h3>"<%= @word.get_word %>"</h3>
<h2>Added Definition: </h2><h3>"<%= @definition.get_definition()%>"</h3>
<br>
<a class="link" href="/">Dictionary Home</a><br>
<a class="link" href="/word/<%=@word.id()%>">Go to <%= @word.get_word %></a>
