<h2>Definitions for <%=@word.get_word()%>:</h2>
<ul><%@all_definitions.each() do |definition| %>
<li><%= definition%></li>
<%end %>
</ul>
<br><br>
<h3>Define your word here:</h3>
<form action="/success_2" method="post">
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id().to_s() %>'>

  <input id='definition' name='definition' type='text'>

  <button type="submit">Add!</button>
</form>

<a class="link" href="/">Home</a>
